*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

img{
    border: none;
    width: 100%;
}
body{
background-color: rgb(245, 245, 245);
}
.cab{

    text-align: center;
    margin: 5vh 0;
}
.contenedor{
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    gap: 2vh 0;
}

.carta{
    cursor: pointer;
    background-color:white;
    padding: 2vh;
    border-radius: 10px;
    position: relative;
    background-color: none;
    width: 45%;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
}

.carta img{
    border-radius: 10px;

} 
.cerrar{
    cursor: pointer;
    padding: 7px;
    background-color: rgba(44, 44, 44, 0.397);
    border-radius: 50em;
    text-align: center;
    color: whitesmoke;
    position: absolute;
    top:2%;
    right: 3%;
    top: 1;
}
.info{
    transition: 0.4s; 
    position: fixed;
    top:2.5vh;
    right: 2vw;
    background-color: white;
    border-radius: 10px;
    height: 0vh;
    width: 0vw;
    opacity: 0;
    
}
.info img{
    border-radius: 10px;
}
.info-text{
    width: 100%;
    margin: 2vh 0;
    text-align: center;
}
.info-text p {
    margin: 0.3em 0;
}
.info-text h3{
    margin: 0.5em 0;
}
@media screen and (min-width:500px) {
    .carta{width: 18%;}
    .info{
        display: flex;
        justify-content: space-between;
        flex-basis: 50%;
    }
    .info img{
        width: auto;
        height: 100%;
    }
}